:root {
  --main-bg-color: #2b87d1;
  --main-text-color: #000000;
  --main-button-color: #1800b3;
  --main-button-text-color: #ffffff;
  --main-button-hover-color: #c0bfbf;
  --main-container-color: #f5f5f5;
  --secondary-container-color: #c3c3c3;

  --main-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--main-bg-color);
  font-family: var(--main-font);
  color: white;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0px;
  user-select: none;
}

.float-login {
  display: flex;
  flex-direction: column;
  grid-template-rows: 1fr ;
  background-color: var(--secondary-container-color);
  position: absolute;
  align-self: center;
  margin: auto;
  z-index: 1;
  padding: 1% 2% 2% 2%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  color: black;
  border: 1px solid black;
  visibility: hidden;
}

.blur {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: 1;
  display:none;
}

input {
  margin-top: 5px;
  margin-bottom: 5px;
}

.login-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register-btn {
  margin: 10px;
  font-size: 12px;
}

#main-section {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 25%;
  right:25%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-inline: 10px;
  user-select: none;
}

#test-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  transform: translateY(25%);
}

.test-container {
  border-radius: 10px;
  display: inline-block;
  font-size: 16px;
  background-color: var(--main-container-color);
  color: black;
  padding: 5px;
  text-align: center;

  user-select: none;
  cursor: text;
}

.test-container > span {
    box-sizing: border-box;
    position: relative;
}

.stats-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-inline: 25%;
  padding: 5px;
  user-select: none;
  font-weight: bold;
}

#options-section {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 25%;
  right: 25%;
  bottom: 0;
  background-color: var(--secondary-container-color);
  border-radius: 5px 5px 0 0;
  height: 10%;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

button {
  /* border: 1px solid white; */
  border-radius: 3px;
  background-color: var(--main-button-color);
  color: white;
  font-weight: bold;
  padding-block: 5px;
  margin-top: 5px;
  margin-right: 10px;
  cursor: pointer;
  user-select: none;
  width: fit-content;
  transition: 0.2s;
}

button.alt-button {
  background-color: rgb(156, 156, 156);
  color: black;
}

.correct {
  background-color: rgba(55, 255, 55, 0.57);
}

.incorrect {
  background-color: rgba(255, 43, 43, 0.57);
}

.unfocus {
  animation: none !important;
  transition: none !important;
}

.current::after {
  content: '';
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 100%;
  width: 1px;
  background: black;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% { background: transparent; }
}
