:root {
  --main-bg-color: #afbfee;
  --main-text-color: #000000;
  --main-button-color: #000000;
  --main-button-text-color: #ffffff;
  --main-button-hover-color: #c0bfbf;
  --main-container-color: #f5f5f5;
  --secondary-container-color: #fffc52;
  --yellow-color: #ffc857;

  --main-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--main-bg-color);
  font-family: var(--main-font);
  color: black;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-inline: 10px;
  user-select: none;
}

#test-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  transform: translateY(25%);
}

.test-container {
  border: 3px solid black;
  border-radius: 20px;
  display: inline-block;
  white-space: pre-wrap;
  font-size: 20px;
  background-color: var(--main-container-color);
  color: black;
  padding: 5px;
  text-align: center;
  margin: 20px;
  transition: ease-in-out 0.5s;
}

.test-container > span {
    box-sizing: border-box;
}

@keyframes flash-border {
    0% {
        border-color: black;
    }
    50% {
        border-color: rgb(111, 163, 34);
    }
    100% {
        border-color: black;
    }
}

.stats-container {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: var(--secondary-container-color);
  justify-content: space-between;
  align-self: center;
  margin: 20px;
  padding: 5px;
  user-select: none;
  font-weight: bold;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin: 10px; */
}

.button {
  border: 1px solid black;
  border-radius: 10px;
  background-color: var(--main-button-color);
  color: white;
  padding: 1pt 12pt 1pt 12pt;
  margin: 5px;
  cursor: pointer;
  user-select: none;
  width: fit-content;
  transition: 0.2s;
}

.button:active {
    background-color: var(--main-button-hover-color);
}

.correct {
  background-color: rgba(55, 255, 55, 0.57);
}

.incorrect {
  background-color: rgba(255, 43, 43, 0.57);
}
